{% extends 'base.html.twig' %}

{% block body %}
	<div class="text-center">
		<h1>Oups ! La page demandé n'existe pas.</h1>

		<a class="btn btn-primary" href="{{ path('homepage') }}">Retourné à la page d'acceuil</a>
	</div>
{% endblock %}
